@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media (max-width: 768px) {
  .flex {
   flex-grow: initial;
  }

  .lg\:flex {
    flex-direction: column;
  }

  .lg\:flex > h1 {
    text-align: justify;
    flex-grow: initial;
  }

  .lg\:text-7xl,
  .sm\:text-7xl {
    flex-grow: initial;
  }

  .mx-auto {
    text-align: justify;
  }
} * {
  box-sizing: border-box
}

.image-scroll-container {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

.image-scroll-container img { 
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); 
  }
}

